# Ignorar archivos y carpetas generados por el compilador
target/

# Ignorar archivos y configuraciones de IntelliJ IDEA
.idea/
.idea/shelf/
workspace.xml

# Archivos de solicitudes HTTP del editor
/httpRequests/

# Archivos de almacenamiento local de las fuentes de datos
/dataSources/
/dataSources.local.xml
